bottle-websocket==0.2.9
contextlib2==0.6.0.post1
SpeechRecognition
gunicorn==18.0.0
Cython
gevent-websocket
Flask==1.0.2
Flask-SocketIO
Flask-Sockets==0.2.1
Jinja2
eyed3
numpy==1.18.4
simplejson
librosa==0.7.2
lomond==0.3.3
module
hmmlearn
ffmpeg
tqdm
numba==0.48
SoundFile
matplotlib==3.2.1
eventlet
pydub
pandas==0.23.0
Pillow==7.1.2
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
scikit-learn==0.21.3
scipy==1.2.1
seaborn==0.9.0
snowballstemmer==1.2.1
socketIO-client==0.7.2
vaderSentiment
validators==0.15.0
virtualenv==20.0.28
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
webrtcvad
Werkzeug==0.14.1
wget==3.2